.titulo_pO{
    width: 100%; 
    font-family: Arial;
    color: white; 
    text-shadow: 1px 1px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    background: #007bff;
}

#formularioO{
    width: 90%;
    margin: auto;
    margin: auto;
    background: #fafbfc;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
/*Estilos formulario crear oferta*/
.infoO2{
    width: 100%;
}
.infoO{
    width: 48%;
    padding-top: 20px;
}

.textoO{
     width: 100%;
    color: #039BE5; 
    font-size: 20px !important; 
    font-family:Arial;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.txtO0{
    width: 99%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #454545;
    font-size: 20px;
    font-family: Arial;
    font-weight: normal;
    border: none;
    box-shadow: none;
    outline: none;
    padding-left: 7px;
    transition: all 300ms;
    background: none;
    border-bottom: 2px solid #f0f3f4;

}
.txtO0:hover{
     border-bottom: 2px solid #98c2bb;
    font-size: 21px;
    color: #024959;
    transform: translateY(-3px);
}
.txtO0:focus{
    border-bottom: 2px solid #57a3f4;
}

.txtO{
    width: 98%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #454545;
    font-size: 20px;
    font-family: Arial;
    font-weight: normal;
    border: none;
    box-shadow: none;
    outline: none;
    padding-left: 7px;
    transition: all 300ms;
    background: none;
    border-bottom: 2px solid #f0f3f4;

}
.txtCO{
   width: 100%;
    height: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #454545;
    font-size: 20px;
    font-family: Arial;
    font-weight: normal;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all 300ms;
    background: none;
    border-bottom: 2px solid #f0f3f4;

}

.txtO:hover{
   border-bottom: 2px solid #98c2bb;
    font-size: 21px;
    color: #024959;
    transform: translateY(-3px);
}
.txtO:focus{
    border-bottom: 2px solid #57a3f4;
}
.txtCO:hover{
    border-bottom: 2px solid #98c2bb;
    font-size: 21px;
    color: #024959;
}
.txtCO:focus{
     border-bottom: 2px solid #57a3f4;
}
.txtOA{
    width: 97%;
    color: #454545;
    font-size: 20px;
    font-family: Arial;
    font-weight: normal;
    border: none;
    box-shadow: none;
    outline: none;
    padding-left: 7px;
    transition: all 300ms;
    background: none;
    border:2px solid #f0f3f4;
    padding-top: 10px;

}
.txtOA:hover{
    border:2px solid #98c2bb;
    color: #024959;
    transform: translateY(-3px);
}
.txtOA:focus{
   border:2px solid #57a3f4;
}
.calendarClass .ui-inputfield{
   width:98%;
    height: 32px;
    border-radius: 0px;
    box-shadow: none;
    color: #454545;
    font-size: 20px !important;
    font-family: Arial;
    font-weight: normal;
    border:none;
    transition: all 300ms;
    background: none;
    border-bottom: 2px solid #f0f3f4;
}
.calendarClass .ui-inputfield:hover{
    border-bottom: 2px solid #98c2bb;
    font-size: 21px;
    color: #024959;
    transform: translateY(-3px);
}
.calendarClass .ui-inputfield:focus{
    border-bottom: 2px solid #57a3f4;
}
.btn_guardarO{
    width: 80%;
    margin: auto;
    margin-top: 40px; 
    padding: 10px; 
    background: #086A87; 
    cursor: pointer; 
    border:none;
    font-size: 20px;
    font-family: Arial;
    border-radius: 8px;
    font-weight: bold; 
    margin-bottom: 20px;
    outline: none;
    transition: all .3s ease;
    color: white;

}
.btn_guardarO:hover{
    color: #000;
    background: #63baa0;
    box-shadow: 0px 0px 1px 1px #838383; 
    -webkit-box-shadow: 0px 0px 1px 1px #838383;
}

/*-------------------------------------------------*/
@media only screen and (max-width: 1024px){
    #formularioO{
        width: 92%;
        
    }
}
@media only screen and (max-width: 820px){ 
    #formularioO{
        display: block;
    }
    .infoO{
        width: 100%;
        margin: auto;
    }
}
