.form_info{
    height: auto;
    padding: 10px;
    background: none;
}

.caja_1{
    width: 450px;
    margin: 2px;
    display: flex;
    border-radius: 10px;
    transition: all .3s ease;
    background: white;
    margin-bottom: 5px;
    border:1px solid #ccc;
}
.img_caja{
    width: 124px;
    padding: 5px;
    display: inline-block;
    margin: 2px;
    transition: all .3s ease;
    border-radius: 10px;
}
.caja_2{
    width: auto;
    padding:5px;
    display: inline-block;
    margin: 2px;
    border-radius: 10px;
}